include "input.kdl"
include "layout.kdl"
include "~/.config/theme/current/niri.kdl"

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-sh-at-startup "swaybg -i ~/wallpapers/01-nature-of-fear.jpg"

include "outputs.kdl"
include "keybinds.kdl"

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24

    hide-when-typing
}

screenshot-path "~/art/screenshots/screenshot-from-%Y-%m-%d %H-%M-%S.png"

output "eDP-1" {
    hot-corners {
        off
    }
}

window-rule {
    match app-id="zen"
    match app-id="vesktop"
    match app-id="Godot"
    match app-id="Aseprite"
    match app-id="com.bitwig.BitwigStudio"
    open-maximized true
}

window-rule {
    match app-id="miniquad-application"
    open-floating true
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false

    background-effect {
        blur true
    }
}

layer-rule {
    match namespace="^launcher$"

    background-effect {
        xray false
        blur true
    }
}
