window-rule {
    match app-id="zen"
    match app-id="Godot"
    open-maximized true
}

window-rule {
    match app-id="thunar"
    opacity 0.9
}

window-rule {
    match app-id="foot"
    match app-id="thunar"
    match app-id="zen"

    background-effect {
        blur true
    }
}

window-rule {
    match app-id="miniquad-application"
    match app-id="bevy-game"
    open-floating true
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false
}

layer-rule {
    match namespace="^launcher$"
    match namespace="waybar"

    place-within-backdrop true

    background-effect {
        xray false
        blur true
    }
}
